<template name="appBody">
    <div id="wrap">
        {{> header}}

        <div id="content-container">
            {{> yield}}
        </div>

        {{> footer}}

        {{#with selectedItem}}
            {{> productDetail}}
        {{/with}}
    </div>
</template>

<template name="header">
    <div id="main-nav" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/img/igdra_logo.png" height="37.5" width="87.5" alt="Igdra"></a>
                <div class="navbar-nav navbar-left">{{> searchBox}}</div>
                <div class="navbar-nav navbar-right">{{> loginButtons}}</div>
            </div>
        </div>
    </div>
</template>

<template name="footer">
    <footer>
        <div class="container-fluid">
            <div class="pull-left">
                <p>IGDRA &copy; 2015.</p>
            </div>

            <div class="pull-right">
                <ul class="social-links">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</template>