<!-- Show a few top categories. -->
<template name="igdraseek">
    <div class="container-fluid">
        <div class="row">
            {{#each coverItems}}
                {{> coverItem}}
            {{/each}}
        </div>
    </div>
</template>

<!-- The cover item, clicking on it takes you to itemList. -->
<template name="coverItem">
    <div class="col-sm-4">
        <a href="itemList/{{productCategory}}/brand/{{brand}}">
            <img src={{coverItem.mediumImageUrl}} class="img-responsive" alt="item">
                <span class="productlist-price-container">
                    <span class="product-price">
                        <span>{{brand}}</span>
                    </span>
                </span>
        </a>
    </div>
</template>

<!-- Product list -->
<template name="itemList">
    <div class="container-fluid productList">
        <div class="row">
            {{#each itemsForBrand}}
                {{> itemDetail}}
            {{/each}}
        </div>
    </div>
</template>

<!-- A single item in a product list. -->
<template name="itemDetail">
    <div class="col-sm-4">
        <a href=# class="listItem">
            <img src={{mediumImageUrl}} class="img-responsive">
                <span class="productlist-price-container">
                    <span class="product-price">
                        <span>{{title}}</span>
                    </span>
                </span>
        </a>
    </div>
</template>

<!-- Product detail overlay. -->
<template name="productDetail">
    <div class="overlay">
        <div id="productDetailContainer" class="container-fluid">
            <button class="close close-btn">&times;</button>
            <div class="row">
                <div id="productDetailImageContainer" class="col-sm-7">
                    <img src={{largeImageUrl}}>
                </div>
                <div id="productDetailTextContainer" class="col-sm-5">
                    <div id="productDetailTitle">{{{title}}}</div>
                    <div id="productDetailPrice">{{price.[0].FormattedPrice}}</div>
                    <ul>
                        {{#each feature}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <div id="productDetailBuyBtn"><a href="{{detailUrl}}"><button id="buyButton" class="btn btn-danger">Buy on Amazon</button></a></div>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="loading">
    <h2>LOADING ... </h2>
</template>