<template name="igdraseek">
    <div class="container-fluid productlist">
        <div class="row">
            {{#each items}}
                {{> item}}
            {{/each}}
        </div>
    </div>
</template>

<!-- A single item. -->
<template name="item">
    <div class="col-sm-4">
        <a href="product1.html">
            <img src={{imageUrl}} class="img-responsive" alt="item">
                <span class="productlist-price-container">
                    <span class="product-price">
                        <span class="price">{{title}}</span>
                    </span>
                </span>
        </a>
    </div>
</template>