<template name="searchBox">
    <div id='search-box-container' class="dropdown" role="search">
        <input type="text" id="search-box" data-toggle="dropdown" class="dropdown-toggle" placeholder="Type to search"/>
        <ul class="dropdown-menu">
            {{#each getMatches}}
                {{#each matches}}
                    <li>
                        <a href="{{link}}">{{{matchText}}}</a>
                    </li>
                {{/each}}
                <li role="separator" class="divider"></li>
            {{/each}}
        </ul>
    </div>
</template>